<p id="notice"><%= notice %></p>

<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.customer.name %></td>
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h1>Dashboard</h1>
<p>Orders ranked by highest value</p>
<p>This shows what you can retrieve in the view. A better solution would be to
  do this in the controller and to then send the values back to the view for display. </p>
<p> Order Pairs: (customer_id, value) <%= @order_pairs %>
<table>
  <thead>
    <tr>
      <th>Customer</th>
      <th>Value</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_pairs.each do |i| %>
      <tr>
        <%
        customer_id = i[0]
        @customer = Customer.find(customer_id)
        %>
        <td><%= @customer.name %></td>
        <td>

           <%= i[1] %>

        </td>
        <td> add order breakdown </td>

      </tr>

    <% end %>
  </tbody>
</table>

<%= link_to 'New Order', new_order_path %>
